{% extends "base.html"%}
{% block title %} Portfolio {% endblock %}
{% block content %}
    <h2 class="text">Developing Beautiful<br>Data and Backends</h2>
    <h3 class="text">
        As a versatile professional adept in Python, data structures, 
        design, and front-end development, I bring a comprehensive skill 
        set to the table. I  collect, 
        maintain, organize, and present information and data in a way that 
        resonates with your target audience. I have the knowledge and creativity to deliver 
        exceptional solutions that seamlessly integrate form and function. 
        Let me leverage my multidimensional skills to transform your data 
        into compelling and impactful experiences.
    </h3>

    <button class="CTA">Hire Me!</button>
    <div class="image">
        <a href="/static/6.png"><img src="{{url_for('static', filename='6.png')}}" alt="There's Some Whores in this house" class="pic"></a>
    </div>
{% endblock %}